body {
  direction:rtl;
 margin: 0;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 background-image:url('https://media.istockphoto.com/id/1290654542/photo/covid-19-vaccine-bottle-and-syringe-on-a-blue-background.jpg?b=1&s=170667a&w=0&k=20&c=WHKvEhUrr6M4rG5uISXVcDa0AabrLS9l6Rp69xO3DSg=') !important ;
 background-repeat: no-repeat !important;
 background-size: cover !important;
 background-position: center center !important;
  padding: 200px 50px!important; 
 color:black !important;
 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


